services:
  my-blog:
    image: crpi-vzbug3vc3o76ithl.cn-beijing.personal.cr.aliyuncs.com/cncqchangle/my-blog:1.0.0
    container_name: my-blog
    restart: unless-stopped
    ports:
      - "127.0.0.1:8080:8080"
    env_file:
      - .env
    environment:
      APP_DATASOURCE_URL: ${APP_DATASOURCE_URL}
      APP_DATASOURCE_USERNAME: ${APP_DATASOURCE_USERNAME}
      APP_DATASOURCE_PASSWORD: ${APP_DATASOURCE_PASSWORD}
      APP_OSS_ACCESS_KEY_ID: ${APP_OSS_ACCESS_KEY_ID}
      APP_OSS_ACCESS_KEY_SECRET: ${APP_OSS_ACCESS_KEY_SECRET}
